[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dlib = "*"
face-recognition = "*"
flask = "*"
graphene = "*"
flask-graphql = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
